{% extends 'base.html' %}

{% block app_content %}


    <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> اختصارات </h3>
                </div>
                <div class="panel-body">
                    <a href="#" class="btn btn-danger btn-lg" role="button"><i class="fa fa-user fa-3x"></i> <br/> الموظفين</a>
                          <a href="#" class="btn btn-warning btn-lg" role="button"><i class="fa fa-users fa-3x"></i> <br/>المجموعات</a>
                          <a href="#" class="btn btn-info btn-lg" role="button"><i class="fa fa-calendar-alt fa-3x"></i> <br/>الورديات</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-globe fa-3x"></i> <br/>المواقع</a>
                          <a href="#" class="btn btn-success btn-lg" role="button"><i class="fa fa-chart-bar fa-3x"></i> <br/>التقارير</a>

                </div>
            </div>
        </div>



{% endblock %}